@import "tailwindcss";

/* Definisikan warna custom untuk Tailwind v4 */
@theme {
  --color-unila-light: #CBC9CC;
  --color-unila-medium: #9C90AA;
  --color-unila: #6E6189;
  --color-unila-dark: #443A67;
  --color-unila-extradark: #211E46;
  --color-unila-deep: #0A0B24;
  --color-unila-black: #000003;
}
